.subscribe{
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 5.625rem 0;
    /* height: 400px; */
    
}
.subscribe h2{
    font-size: 2.188rem;
    font-weight: bold;
    margin: 0.625rem 0;
    color: var(--second-color);
    line-height: 3.125rem;
    font-family: var(--second-font);
}
.subscribe  p{
    font-size:1rem;
    line-height: 2rem;
    color: var(--third-color);
    margin: 1.25rem 0;
}