nav{
    background-color:#fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
}
nav a{
    color:var(--primary-color) !important;
    font-size: 0.938rem;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
}
nav a:hover{
    color:var(--second-color) !important;
    font-weight: bold;
    transition: .2s ease-in-out;
}
nav img{
    max-width: 100%;
    height: 90%;
}